<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>黄浦区</string>
		<key>CREATED_TIME</key>
		<string>HP</string>
		<key>DISTRICT_NAME</key>
		<string>310101</string>
		<key>PKID</key>
		<string>21</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>卢湾区</string>
		<key>CREATED_TIME</key>
		<string>LW</string>
		<key>DISTRICT_NAME</key>
		<string>310103</string>
		<key>PKID</key>
		<string>22</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>徐汇区</string>
		<key>CREATED_TIME</key>
		<string>XV</string>
		<key>DISTRICT_NAME</key>
		<string>310104</string>
		<key>PKID</key>
		<string>23</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>长宁区</string>
		<key>CREATED_TIME</key>
		<string>CN</string>
		<key>DISTRICT_NAME</key>
		<string>310105</string>
		<key>PKID</key>
		<string>24</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>静安区</string>
		<key>CREATED_TIME</key>
		<string>JA</string>
		<key>DISTRICT_NAME</key>
		<string>310106</string>
		<key>PKID</key>
		<string>25</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>普陀区</string>
		<key>CREATED_TIME</key>
		<string>PT</string>
		<key>DISTRICT_NAME</key>
		<string>310107</string>
		<key>PKID</key>
		<string>26</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>闸北区</string>
		<key>CREATED_TIME</key>
		<string>ZB</string>
		<key>DISTRICT_NAME</key>
		<string>310108</string>
		<key>PKID</key>
		<string>27</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>虹口区</string>
		<key>CREATED_TIME</key>
		<string>HK</string>
		<key>DISTRICT_NAME</key>
		<string>310109</string>
		<key>PKID</key>
		<string>28</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>杨浦区</string>
		<key>CREATED_TIME</key>
		<string>YP</string>
		<key>DISTRICT_NAME</key>
		<string>310110</string>
		<key>PKID</key>
		<string>29</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.100</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>闵行区</string>
		<key>CREATED_TIME</key>
		<string>MH</string>
		<key>DISTRICT_NAME</key>
		<string>310112</string>
		<key>PKID</key>
		<string>30</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>宝山区</string>
		<key>CREATED_TIME</key>
		<string>BS</string>
		<key>DISTRICT_NAME</key>
		<string>310113</string>
		<key>PKID</key>
		<string>31</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>嘉定区</string>
		<key>CREATED_TIME</key>
		<string>JD</string>
		<key>DISTRICT_NAME</key>
		<string>310114</string>
		<key>PKID</key>
		<string>32</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>浦东新区</string>
		<key>CREATED_TIME</key>
		<string>admin</string>
		<key>DISTRICT_NAME</key>
		<string>310115</string>
		<key>PKID</key>
		<string>33</string>
		<key>UPDATED_BY</key>
		<string>2015-05-11 17:11:36.103</string>
		<key>UPDATED_TIME</key>
		<string>NULL</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>金山区</string>
		<key>CREATED_TIME</key>
		<string>JS</string>
		<key>DISTRICT_NAME</key>
		<string>310116</string>
		<key>PKID</key>
		<string>34</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>松江</string>
		<key>CREATED_TIME</key>
		<string>SJ</string>
		<key>DISTRICT_NAME</key>
		<string>310117</string>
		<key>PKID</key>
		<string>35</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>青浦区</string>
		<key>CREATED_TIME</key>
		<string>QP</string>
		<key>DISTRICT_NAME</key>
		<string>310118</string>
		<key>PKID</key>
		<string>36</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>南汇区</string>
		<key>CREATED_TIME</key>
		<string>NH</string>
		<key>DISTRICT_NAME</key>
		<string>310119</string>
		<key>PKID</key>
		<string>37</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>奉贤区</string>
		<key>CREATED_TIME</key>
		<string>FX</string>
		<key>DISTRICT_NAME</key>
		<string>310120</string>
		<key>PKID</key>
		<string>38</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
	<dict>
		<key>CITY_CODE</key>
		<string>310000</string>
		<key>CREATED_BY</key>
		<string>崇明县</string>
		<key>CREATED_TIME</key>
		<string>CM</string>
		<key>DISTRICT_NAME</key>
		<string>310230</string>
		<key>PKID</key>
		<string>39</string>
		<key>UPDATED_BY</key>
		<string>admin</string>
		<key>UPDATED_TIME</key>
		<string>2015-05-11 17:11:36.103</string>
	</dict>
</array>
</plist>
